<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Temuri Takalandze (ABGEO)">

    <title>{% block title %}Home{% endblock %} | Link Share</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{{ asset('node_modules/magnific-popup/dist/magnific-popup.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('node_modules/toastr/build/toastr.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/freelancer.min.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">

        {% set route = app.request.attributes.get('_route') %}

        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Link Share</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded {{ route != 'index' ?: 'active' }}" href="{{ path('index') }}">Home</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link  py-3 px-0 px-lg-3 rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">My Links</a>
                                <a class="dropdown-item" href="#">Edit Account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="color: red;" href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <a class="nav-link  portfolio-item py-3 px-0 px-lg-3" onClick="showForm('signInBox')" href="#authorization-modal">Auth</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation -->

    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <!-- Authorization Modal -->
        <div class="portfolio-modal mfp-hide" id="authorization-modal">
            <div class="portfolio-modal-dialog bg-white">
                <div class="container text-center">
                    <a class="close-button d-md-block portfolio-modal-dismiss" href="#">
                        <i class="fa fa-3x fa-times"></i>
                    </a>

                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h2 class="text-secondary text-uppercase mb-0">Authorization</h2>
                            <hr class="star-dark mb-5">

                            <!-- Sign In Box -->
                            <div class="row" id="signInBox">
                                <div class="col-lg-8 mx-auto">
                                    <h3 class="text-secondary">Sign In</h3>

                                    <form name="signInForm" action="{{ path('app_login') }}" method="POST">
                                        <input name="signInToken" type="hidden" value="{{ csrf_token('sign-in') }}" />

                                        <div class="form-group">
                                            <div class="col-md-12 control">
                                                Don't have an account?
                                                <a href="#" onClick="showForm('signUpBox')">Sign Up Here</a>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                <label for="signInEmail">E-Mail</label>
                                                <input class="form-control" id="signInEmail" name="signInEmail" type="email" placeholder="E-Mail">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                <label for="signInPassword">Password</label>
                                                <input class="form-control" id="signInPassword" name="signInPassword" type="password" placeholder="Password">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div class="col-md-12 control">
                                                <a href="#" onClick="showForm('forgotBox')">Forgot password?</a>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary btn-xl" id="signInSubmit">Sign In</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Sign In Box -->

                            <!-- Sign Up Box -->
                            <div id="signUpBox">
                                <div class="col-lg-8 mx-auto">
                                    <h3 class="text-secondary">Sign Up</h3>

                                    <form name="signUpForm" action="{{ path('app_register') }}" method="POST">
                                        <div class="form-group">
                                            <div class="col-md-12 control">
                                                Do you have an account?
                                                <a href="#" onClick="showForm('signInBox')">Sign In Here</a>
                                            </div>
                                        </div>

                                        <input type="hidden" name="signUpToken" value="{{ csrf_token('sign-up') }}" />

                                        <div class="control-group">
                                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                <label for="signUpEmail">E-Mail</label>
                                                <input class="form-control" id="signUpEmail" name="signUpEmail" type="email" placeholder="E-Mail">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                <label for="signUpPassword">Password</label>
                                                <input class="form-control" id="signUpPassword" name="signUpPassword" type="password" placeholder="Password">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                <label for="signUpRepPassword">Repeat Password</label>
                                                <input class="form-control" id="signUpRepPassword" name="signUpRepPassword" type="password" placeholder="Repeat Password">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary btn-xl" id="signUpSubmit">Sign Up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Sign Up Box -->

                            <!-- Forgot Box -->
                            <div id="forgotBox">
                                <div class="col-lg-8 mx-auto">
                                    <h3 class="text-secondary">Forgot Password</h3>

                                    <form name="forgotForm" action="" method="post">
                                        <div class="form-group">
                                            <div class="col-md-12 control">
                                                <a href="#" onClick="showForm('signInBox')">Sign In</a> |
                                                <a href="#" onClick="showForm('signUpBox')">Sign Up</a>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                <label>E-Mail Address</label>
                                                <input class="form-control" id="forgotEmail" type="email" placeholder="E-Mail Address">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-xl" id="forgotSubmit">Forgot</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Forgot Box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Authorization Modal -->
    {% endif %}

    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">2215 John Daniel Drive
                        <br>Clark, MO 65243</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">About Freelancer</h4>
                    <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
                        <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>&copy; Link Share 2019-{{ "now"|date('Y') }}. All Rights Reserved.</small>
        </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ asset('node_modules/jquery.easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('node_modules/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('node_modules/toastr/build/toastr.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ asset('js/freelancer.js') }}"></script>

    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/authorization.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
